<<<<<<< HEAD
<header>
    <nav>
        <div class="navbar-container">
            <h1>COR3</h1>
            <div class="nav-links">
                <a class="home" href="#">Home</a>
                <a class="logout" href="#">Logout</a>
            </div>
        </div>
    </nav>
</header>
<div class="record-intro">
    <h1>Hello, {{username}}!</h1>
    <p>The following table records your <span>one rep maximum</span> for each of the three core lifts. This is
        determined from your workout entries, see how far you've come!
    </p>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
=======
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">User</th>
>>>>>>> 9ffec4a2603c20cd9802837676abf48201eb75fe
            <th scope="col">Bench Max</th>
            <th scope="col">Deadlift Max</th>
            <th scope="col">Squat Max</th>
        </tr>
    </thead>
    <tbody>
        {{#each allWorkouts}}
        <tr>
<<<<<<< HEAD
=======
            <td>{{user_id}}</td>
>>>>>>> 9ffec4a2603c20cd9802837676abf48201eb75fe
            <td>{{bench_max}}</td>
            <td>{{deadlift_max}}</td>
            <td>{{squat_max}}</td>
        </tr>
        {{/each}}
    </tbody>
<<<<<<< HEAD
</table>

<script src="./js/record.js"></script>
=======
</table>
>>>>>>> 9ffec4a2603c20cd9802837676abf48201eb75fe
